/* MAIN LAYOUT */

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;

}

.App > *:nth-child(2) {
  flex:1;
}
